<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>Sign in | SesDashboard</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('signin') }}
  {% endblock %}
</head>
<body class="text-center">
<form class="form-signin" method="post">
  SesDashboard
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

  {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

  {#
      Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
      See https://symfony.com/doc/current/security/remember_me.html

      <div class="checkbox mb-3">
          <label>
              <input type="checkbox" name="_remember_me"> Remember me
          </label>
      </div>
  #}

  <input type="hidden" name="_csrf_token"
         value="{{ csrf_token('authenticate') }}"
  >

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
{#  <p class="mt-5 mb-3 text-muted">&copy; 2020</p>#}
</form>
</body>
</html>