{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block h1 %}
    <h1 class="h2">Dashboard</h1>
{% endblock %}

{% block body %}

  <div id="app"></div>

{% endblock %}

{% block stylesheets %}
  {{ parent() }}

  {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="application/javascript">
    window.dashboardEndpoint = '{{ path('app_dashboard_api') }}';
    window.dashboardProjectId = '{{ project ? project.id : "" }}';
  </script>

  {{ encore_entry_script_tags('dashboard') }}
{% endblock %}
