{% extends 'base.html.twig' %}

{% block title %}Edit project{% endblock %}

{% block h1 %}
  <h1 class="h2">
    {% if project.id %}
      Edit project <small>(ID: {{ project.id }})</small>
    {% else %}
      Create new project
    {% endif %}
  </h1>
{% endblock %}

{% block body %}
  {{ form_start(form) }}

    <div class="row">
      <div class="col-sm-4">
        {{ form_row(form.name, {'label': false, 'attr': {'placeholder': 'Enter project name'}}) }}
      </div>
    </div>

    {% if project.id %}
      <button type="submit" class="btn btn-primary">Save</button>
    {% else %}
      <button type="submit" class="btn btn-primary">Create and get configuration</button>
    {% endif %}

  {{ form_end(form) }}

  {% if project.token %}
    <div class="card mt-5">
      <div class="card-header">
        <button class="btn btn-danger btn-sm float-right">Refresh</button>
        <h5>WebHook</h5>
      </div>
      <div class="card-body">
        <p class="card-text"><samp>{{ absolute_url(path('app_webhook', {'token': project.token})) }}</samp></p>
      </div>
    </div>

    <div class="card mt-5">
      <div class="card-header">
        <h5>Configure AWS Simple Email Service</h5>
      </div>
      <div class="card-body">
        <p class="card-text">
          Follow Configuration instructions:
          <a href="https://sesdashboard.readthedocs.io/en/latest/configuration.html" target="_blank">https://sesdashboard.readthedocs.io/en/latest/configuration.html</a>
        </p>
      </div>
    </div>
  {% endif %}

{% endblock %}
